:host { 
  display: contents; 
}
.container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-backgrounds-gray);
}
.main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero {
  align-items: center;
  padding-top: 200px;
  justify-content: flex-start;
  background-color: #101010;
}
.max-width {
  width: 1300px;
  align-items: stretch;
}
.content-container {
  flex: 1;
  display: flex;
  min-width: 50%;
  align-items: flex-start;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.text {
  color: #ffffff;
  width: 90%;
  margin-bottom: 42px;
}
.input-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
}
.button {
  width: 263px;
  height: 58px;
  display: flex;
  font-size: 20px;
  align-items: center;
  line-height: 1;
  white-space: nowrap;
  border-color: #ffffff;
  border-width: 2px;
  justify-content: center;
  background-color: rgba(2, 2, 2, 0.9);
}
.features-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.feature {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.icon {
  fill: #62BF77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.text02 {
  color: var(--dl-color-grays-gray60);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.feature01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.icon02 {
  fill: #62BF77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.text03 {
  color: var(--dl-color-grays-gray60);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.feature02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.icon04 {
  fill: #62BF77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.text04 {
  color: var(--dl-color-grays-gray60);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.image {
  width: 457px;
  height: 414px;
  max-width: 589px;
  object-fit: cover;
}
.section-one {
  border-color: rgba(33, 33, 33, 0.1);
  border-width: 1px;
  background-color: #101010;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.max-width1 {
  flex-direction: column;
}
.text05 {
  color: #e0e0e0;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.cards-container {
  flex: 0 0 auto;
  width: 900px;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.section-two {
  background-color: #101010;
}
.max-width2 {
  width: 1234px;
  height: 600px;
  flex-direction: row;
  justify-content: flex-start;
}
.container1 {
  top: 0px;
  right: 0px;
  width: 329px;
  bottom: 0px;
  height: 400px;
  margin: auto;
  display: flex;
  position: absolute;
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-radius: 18px;
  justify-content: center;
}
.button1 {
  left: 0px;
  right: 0px;
  width: 240px;
  bottom: 15px;
  height: 44px;
  margin: auto;
  display: flex;
  position: absolute;
  text-align: center;
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(2, 2, 2, 0.9);
}
.text07 {
  top: 13px;
  left: 0px;
  color: #ffffff;
  right: 0px;
  margin: auto;
  position: absolute;
  align-self: center;
  text-align: center;
}
.text09 {
  top: 295px;
  left: 0px;
  color: #e8e8e8;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 30px;
  text-align: center;
}
.text11 {
  top: 118px;
  left: 86px;
  position: absolute;
}
.text12 {
  color: #e8e8e8;
  font-size: 30px;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.text15 {
  text-align: center;
}
.features-container1 {
  top: 96px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 263px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.feature03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  flex-direction: row;
}
.icon06 {
  fill: #62BF77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.text16 {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.feature04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  flex-direction: row;
}
.icon08 {
  fill: #62BF77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.text17 {
  color: #fdfdfd;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.feature05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  flex-direction: row;
}
.icon10 {
  fill: #62BF77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.text18 {
  color: #fdfdfd;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.feature06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.icon12 {
  fill: #62BF77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.text19 {
  color: #fdfdfd;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.container2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 329px;
  bottom: 0px;
  height: 400px;
  margin: auto;
  display: flex;
  position: absolute;
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-radius: 18px;
  justify-content: center;
}
.button2 {
  left: 0px;
  right: 0px;
  width: 240px;
  bottom: 15px;
  height: 44px;
  margin: auto;
  display: flex;
  position: absolute;
  text-align: center;
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(2, 2, 2, 0.9);
}
.text20 {
  top: 13px;
  left: 0px;
  color: #ffffff;
  right: 0px;
  margin: auto;
  position: absolute;
  align-self: center;
  text-align: center;
}
.text22 {
  top: 296px;
  left: 0px;
  color: #e8e8e8;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 30px;
  text-align: center;
}
.text23 {
  top: 118px;
  left: 86px;
  position: absolute;
}
.text24 {
  color: #e8e8e8;
  font-size: 30px;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.text28 {
  text-align: center;
}
.features-container2 {
  top: 96px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 263px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.feature07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  flex-direction: row;
}
.icon14 {
  fill: #62BF77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.text29 {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.feature08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  flex-direction: row;
}
.icon16 {
  fill: #62BF77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.text30 {
  color: #fdfdfd;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.feature09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  flex-direction: row;
}
.icon18 {
  fill: #62BF77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.text31 {
  color: #fdfdfd;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.feature10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.icon20 {
  fill: #62BF77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.text32 {
  color: #fdfdfd;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.container3 {
  top: 0px;
  left: 0px;
  width: 329px;
  bottom: 0px;
  height: 400px;
  margin: auto;
  display: flex;
  position: absolute;
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-radius: 18px;
  justify-content: center;
}
.button3 {
  left: 0px;
  right: 0px;
  width: 240px;
  bottom: 15px;
  height: 44px;
  margin: auto;
  display: flex;
  position: absolute;
  text-align: center;
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(2, 2, 2, 0.9);
}
.text33 {
  top: 13px;
  left: 0px;
  color: #ffffff;
  right: 0px;
  margin: auto;
  position: absolute;
  align-self: center;
  text-align: center;
}
.text35 {
  top: 295px;
  left: 0px;
  color: #e8e8e8;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 30px;
  text-align: center;
}
.text36 {
  top: 118px;
  left: 86px;
  position: absolute;
}
.text37 {
  color: #e8e8e8;
  font-size: 30px;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.text41 {
  text-align: center;
}
.features-container3 {
  top: 96px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 263px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.feature11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  flex-direction: row;
}
.icon22 {
  fill: #62BF77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.text42 {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.feature12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  flex-direction: row;
}
.icon24 {
  fill: #62BF77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.text43 {
  color: #fdfdfd;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.feature13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  flex-direction: row;
}
.icon26 {
  fill: #62BF77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.text44 {
  color: #fdfdfd;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.feature14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.icon28 {
  fill: #62BF77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.text45 {
  color: #fdfdfd;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
@media(max-width: 991px) {
  .max-width {
    flex-direction: column;
  }
  .content-container {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .text {
    width: 100%;
  }
  .image {
    max-width: 100%;
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .text05 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .cards-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .max-width2 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .input-container {
    flex-direction: column;
  }
  .cards-container {
    justify-content: center;
  }
}
Feedbox Mobile App - TeleportHQ
